.App {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 5px 5px 15px 5px #000000;
  padding: 25px;
}
.TodoListWrapper {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
ol,
ul {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
  margin: 0;
  padding: 0;
}
li {
  margin: 5px;
}
